<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "MMO Guild Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/2.1.0/css/select.bootstrap5.css">
  </head>

  <body class="sb-nav-fixed">
      <%= render 'shared/navbar' %>

      <div id="layoutSidenav" class="dashboard">
        <%= render 'shared/sidenav' %>
        <div class="container center-content">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
